<a href="https://colab.research.google.com/github/Shadowne2019/Ibrahim/blob/main/3mtt_week_4_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Displaying a list structures of data

In [ ]:
#if we eat enough fruits, then we would look very healthy
fruits=("mango,banana,orange,apple,wotermelon",)
print(fruits)

('mango,banana,orange,apple,wotermelon',)

Displaying a tuple structure of data

In [ ]:
# tuple
my_tuple=(1,2,3,"world","kano","jigawa",1.5, 3.5 ,5.7)

In [ ]:
my_new_tuple=(1,2,3,"world","kano","jigawa")

In [ ]:
# printing the value  tuple
print(my_tuple)

(1, 2, 3, 'world', 'kano', 'jigawa', 1.5, 3.5, 5.7)

Sets: creating a sets using a Carly bracket{}

In [2]:
# a script that store some value and assign a variable to it
my_set={1,2,34,5}

Displaying the value of the set

In [3]:
print(my_set)

{1, 2, 34, 5}

In [5]:
new_set={1,2,3,4,9,8,1,3,8,1,3,3,4}

In [6]:
new_set

{1, 2, 3, 4, 8, 9}

Displaying a dictionary structure type

Distionary

In [7]:
# a dictionary script that store some value and variable
my_dict={"name":"shadow", "age":"30", "town":"Dutse"}

Displaying the dictionary

In [8]:
print(my_dict)

{'name': 'shadow', 'age': '30', 'town': 'Dutse'}

Conditional statement

In [ ]:
# conditianal statement
x =10

if x > 0:
   print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive

Function

In [16]:
#define a function call greet
def greet(name):
    print("hellow, " +name)

In [17]:
# cell the function
greet("shadow")

hellow, shadow

Coding excercise

In [ ]:
# coding example with function and conditional statement def check_even_odd(num):
# write my code here
if num % 4 == 0:
     print(num, "is even")
else:
     print(num, "is odd")

In [ ]:
# check the function
check_even_odd(20)
check_even_odd(7)