<a href="https://colab.research.google.com/github/Shadowne2019/Ibrahim/blob/main/3mtt_week_5_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Drop row with missing value

In [7]:

import pandas as pd

# define a dictionary with sample data which includes some missing values
data = {
    'A': [1, 2, 3, None, 5, 6, 7],
    'B': [None, 2, 3, 4, 5, 6, 7],
    'C': [1, 2, None, None, 5, 6, 7]
}

df = pd.DataFrame(data)
print("Original Data:\n",df)
print()

# use dropna() to remove rows with any missing values
df_cleaned = df.dropna()

print("Cleaned Data:\n",df_cleaned)

Original Data:
      A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0
5  6.0  6.0  6.0
6  7.0  7.0  7.0

Cleaned Data:
      A    B    C
1  2.0  2.0  2.0
4  5.0  5.0  5.0
5  6.0  6.0  6.0
6  7.0  7.0  7.0

Fill missing value

In [9]:

import pandas as pd

# define a dictionary with sample data which includes some missing values
data = {
    'A': [1, 2, 3, None, 5, 6, 7],
    'B': [None, 2, 3, 4, 5, 6, 7],
    'C': [1, 2, None, None, 5, 6, 7]
}

df = pd.DataFrame(data)

print("Original Data:\n", df)

# filling NaN values with 0
df.fillna(0, inplace=True)

print("\nData after filling NaN with 0:\n", df)

Original Data:
      A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0
5  6.0  6.0  6.0
6  7.0  7.0  7.0

Data after filling NaN with 0:
      A    B    C
0  1.0  0.0  1.0
1  2.0  2.0  2.0
2  3.0  3.0  0.0
3  0.0  4.0  0.0
4  5.0  5.0  5.0
5  6.0  6.0  6.0
6  7.0  7.0  7.0

Using aggragate function to fill the missing value

In [11]:

import pandas as pd

# define a dictionary with sample data which includes some missing values
data = {
    'A': [1, 2, 3, None, 5, 6, 7],
    'B': [None, 2, 3, 4, 5, 6, 7],
    'C': [1, 2, None, None, 5, 6, 7]
}

df = pd.DataFrame(data)

print("Original Data:\n", df)

# filling NaN values with the mean of each column
df.fillna(df.mean(), inplace=True)

print("\nData after filling NaN with mean:\n", df)

Original Data:
      A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0
5  6.0  6.0  6.0
6  7.0  7.0  7.0

Data after filling NaN with mean:
      A    B    C
0  1.0  4.5  1.0
1  2.0  2.0  2.0
2  3.0  3.0  4.2
3  4.0  4.0  4.2
4  5.0  5.0  5.0
5  6.0  6.0  6.0
6  7.0  7.0  7.0

Handle duplicate value

In [13]:

import pandas as pd

# sample data
data = {
    'A': [1, 2, 2, 3, 3, 4, 5],
    'B': [5, 6, 6, 7, 8, 8, 9]
}
df = pd.DataFrame(data)

print("Original DataFrame:\n", df.to_string(index=False))

# detect duplicates
print("\nDuplicate Rows:\n", df[df.duplicated()].to_string(index=False))

# remove duplicates based on column 'A'
df.drop_duplicates(subset=['A'], keep='first', inplace=True)

print("\nDataFrame after removing duplicates based on column 'A':\n", df.to_string(index=False))

Original DataFrame:
  A  B
 1  5
 2  6
 2  6
 3  7
 3  8
 4  8
 5  9

Duplicate Rows:
  A  B
 2  6

DataFrame after removing duplicates based on column 'A':
  A  B
 1  5
 2  6
 3  7
 4  8
 5  9

Rename colums names with meaningful names

In [16]:

import pandas as pd

# sample data
data = {
    'A': ['auwal', 'sani', 'salihi'],
    'B': [27, 37, 47],
    'C': [80000, 180000, 90000]
}

df = pd.DataFrame(data)

# rename columns
df.rename(columns={'A': 'name', 'B': 'age', 'C': 'alawas'}, inplace=True)

print(df.to_string(index=False))

  name  age  alawas
 auwal   27   80000
  sani   37  180000
salihi   47   90000